/* styles.css */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #ab94b9;
    padding: 20px;
}

header {
    background-color: #421491;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background: #b45d85;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#task-container {
    margin-bottom: 20px;
}

.task {
    background: #b3a9b2;
    border: 1px solid #e2e1e1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.task.done {
    background: #5f946b;
    border-color: #478656;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #2e1853;
    border-radius: 5px 0 0 5px;
}

#task-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #685f82;
    color: #121212d4;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #6390b3;
}


